pkgbase = cinc-workstation-bin
	pkgdesc = The Cinc installation package includes everything you need to start converging your machines.
	pkgver = 25.2.1075
	pkgrel = 1
	url = https://cinc.sh/download/
	arch = x86_64
	license = Apache
	depends = libxcrypt-compat
	conflicts = chef
	conflicts = chef-solo
	conflicts = chef-dk
	conflicts = chef-client
	conflicts = cinc
	source = http://downloads.cinc.sh/files/stable/cinc-workstation/25.2.1075/ubuntu/24.04/cinc-workstation_25.2.1075-1_amd64.deb
	sha256sums = 58a0f500c83d07c017d18e1e9fd3cf777e5a741d40ed9cc6a8992677cfcc9c1d

pkgname = cinc-workstation-bin
